.container10 {
  background-color: #1f1301;
  color: white;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.todo-page {
  background-color: #1f1301;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 420px) {
  .container10 {
    display: flex;
    flex-direction: column;
  }
}
